@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("assets/fonts/hinted-subset-Montserrat-Regular.woff2") format("woff2"), url("assets/fonts/hinted-subset-Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("assets/fonts/hinted-subset-Montserrat-Bold.woff2") format("woff2"), url("assets/fonts/hinted-subset-Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("assets/fonts/hinted-subset-Montserrat-SemiBold.woff2") format("woff2"), url("assets/fonts/hinted-subset-Montserrat-SemiBold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
